<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="livro">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.livro.detail.title">Livro</span> {{ livro.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.isbn">Isbn</span></dt>
                <dd>
                    <span>{{ livro.isbn }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.titulo">Titulo</span></dt>
                <dd>
                    <span>{{ livro.titulo }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.assunto">Assunto</span></dt>
                <dd>
                    <span>{{ livro.assunto }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.editora">Editora</span></dt>
                <dd>
                    <span>{{ livro.editora }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.capa">Capa</span></dt>
                <dd>
                    <div *ngIf="livro.capa">
                        <a (click)="openFile(livro.capaContentType, livro.capa)">
                            <img [src]="'data:' + livro.capaContentType + ';base64,' + livro.capa" style="max-width: 100%;" alt="livro image"/>
                        </a>
                        {{ livro.capaContentType }}, {{ byteSize(livro.capa) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.numeroPaginas">Numero Paginas</span></dt>
                <dd>
                    <span>{{ livro.numeroPaginas }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.tombo">Tombo</span></dt>
                <dd>
                    <span>{{ livro.tombo }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.livro.copies">Copies</span></dt>
                <dd>
                    <span>{{ livro.copies }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/livro', livro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
